<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.zgyh" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>中国银行</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="lightcontent" />

    <platform name="android">
        <icon density="ldpi" src="res/icon/android/logo.png" />
        <icon density="mdpi" src="res/icon/android/logo.png" />
        <icon density="hdpi" src="res/icon/android/logo.png" />
        <icon density="xhdpi" src="res/icon/android/logo.png" />
        <icon density="xxhdpi" src="res/icon/android/logo.png" />
        <icon density="xxxhdpi" src="res/icon/android/logo.png" />
      </platform>
      

    <feature name="ConfigCenter">
        <param name="android-package" value="io.cordova.zgyh.ConfigCenter" />
    </feature>

</widget>