<?xml version='1.0' encoding='utf-8'?>
<plugin id="io.cordova.configurer" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ConfigCenter</name>
    <js-module name="ConfigCenter" src="www/ConfigCenter.js">
        <clobbers target="cordova.plugins.ConfigCenter" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ConfigCenter">
                <param name="android-package" value="io.cordova.configurer.ConfigCenter" />
            </feature>
        </config-file>
        <source-file src="src/android/ConfigCenter.java" target-dir="src/io/cordova/configurer/ConfigCenter" />

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
    </platform>
</plugin>